AndOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


AssociationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


BiologicalActivityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


CardinalityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 19.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


CatalysisLayout {
	arrowhead-filter: unset;
	arrowhead-height: 12.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-width: 12.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


CompartmentLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 3.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 80.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 80.0;
}


ComplexLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 44.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 44.0;
}


ComplexMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 44.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 44.0;
}


ComplexMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


ComplexSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


ComplexUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


ConsumptionLayout {
	arrowhead-filter: unset;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


DelayOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


DissociationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


EmptySetLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 22.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 22.0;
}


EquivalenceArcLayout {
	arrowhead-filter: unset;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


EquivalenceOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


GenericProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


InhibitionLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


LogicArcLayout {
	arrowhead-filter: unset;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


MacromoleculeLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	rounded-corners: 8.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeLayout > TextLayout {
    font-family: "Helvetica";
    font-size: 11.0;
}


MacromoleculeMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


ModulationLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-width: 10.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


NecessaryStimulationLayout {
	arrowhead-bar-height: 12.0;
	arrowhead-filter: unset;
	arrowhead-sep: 3.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-triangle-height: 10.0;
	arrowhead-triangle-width: 10.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


NegativeInfluenceLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


NotOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


NucleicAcidFeatureLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


OmittedProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


OrOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


PerturbationUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


PerturbingAgentLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


PhenotypeLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


PositiveInfluenceLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-width: 10.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


ProductionLayout {
	arrowhead-filter: unset;
	arrowhead-height: 12.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-width: 12.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SBGNAFLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: unset;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SBGNPDLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: unset;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SimpleChemicalLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


SimpleChemicalMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 30.0;
}


SimpleChemicalMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


SimpleChemicalSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


SimpleChemicalUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


StateVariableLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


StateVariableLayout > TextLayout {
    font-family: "Arial";
    font-size: 9.0;
}


StimulationLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: unset;
	arrowhead-transform: unset;
	arrowhead-width: 10.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: unset;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SubmapLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 2.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 80.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 80.0;
}


TagLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 35.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 35.0;
}


TerminalLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 35.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 35.0;
}


UncertainProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


UnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}


UnknownInfluenceLayout {
	arrowhead-filter: unset;
	arrowhead-height: 10.0;
	arrowhead-stroke-dasharray: unset;
	arrowhead-stroke-dashoffset: unset;
	arrowhead-stroke-width: 1.25;
	arrowhead-transform: unset;
	arrowhead-width: 10.0;
	end-shorten: 0.0;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	path-filter: unset;
	path-stroke-dashoffset: unset;
	path-stroke-width: 1.25;
	path-transform: unset;
	start-shorten: 0.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


UnspecifiedEntityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UnspecifiedEntitySubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UnspecifiedEntityUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.25;
	border-transform: unset;
	filter: unset;
	font-family: unset;
	font-size: unset;
	font-style: unset;
	font-weight: unset;
	height: 12.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 12.0;
}
