[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
frozendict = "*"
libsbgnpy = "*"
pycairo = "*"
pygobject = "*"
momapy = {editable = true, path = "."}
ffmpeg-python = "*"
numpy = "*"
pyparsing = "*"
skia-python = "*"
xsdata = {extras = ["cli", "lxml", "soap"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
