AndOperatorLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


AssociationLayout {
	border-fill: black;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


BiologicalActivityLayout {
	border-fill: blue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


CardinalityLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


CatalysisLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


CompartmentLayout {
	border-fill: ghostwhite;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


ComplexLayout {
	border-fill: gold;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


ComplexMultimerLayout {
	border-fill: gold;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


ComplexMultimerSubunitLayout {
	border-fill: gold;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


ComplexSubunitLayout {
	border-fill: gold;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


ComplexUnitOfInformationLayout {
	border-fill: gold;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


ConsumptionLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


DelayOperatorLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


DissociationLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


EmptySetLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


EquivalenceArc {
	arrowhead-fill: unset;
	arrowhead-stroke: unset;
	fill: unset;
	path-fill: unset;
	path-stroke: unset;
	stroke: unset;
}


EquivalenceOperatorLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


GenericProcessLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


InhibitionLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


LogicArc {
	arrowhead-fill: unset;
	arrowhead-stroke: unset;
	fill: unset;
	path-fill: unset;
	path-stroke: unset;
	stroke: unset;
}


MacromoleculeLayout {
	border-fill: deepskyblue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


MacromoleculeMultimerLayout {
	border-fill: deepskyblue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


MacromoleculeMultimerSubunitLayout {
	border-fill: deepskyblue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


MacromoleculeSubunitLayout {
	border-fill: deepskyblue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


MacromoleculeUnitOfInformationLayout {
	border-fill: deepskyblue;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


ModulationLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


NecessaryStimulationLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


NegativeInfluenceLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


NotOperatorLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


NucleicAcidFeatureLayout {
	border-fill: limegreen;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


NucleicAcidFeatureMultimerLayout {
	border-fill: limegreen;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


NucleicAcidFeatureMultimerSubunitLayout {
	border-fill: limegreen;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


NucleicAcidFeatureSubunitLayout {
	border-fill: limegreen;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


NucleicAcidFeatureUnitOfInformationLayout {
	border-fill: limegreen;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


OmittedProcessLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


OrOperatorLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


PerturbationUnitOfInformationLayout {
	border-fill: orangered;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


PerturbingAgentLayout {
	border-fill: orangered;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


PhenotypeLayout {
	border-fill: plum;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


PositiveInfluenceLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


ProductionLayout {
	arrowhead-fill: black;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


SBGNAFLayout {
	border-fill: white;
	border-stroke: unset;
	fill: unset;
	stroke: unset;
}


SBGNPDLayout {
	border-fill: white;
	border-stroke: unset;
	fill: unset;
	stroke: unset;
}


SimpleChemicalLayout {
	border-fill: sandybrown;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


SimpleChemicalMultimerLayout {
	border-fill: sandybrown;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


SimpleChemicalMultimerSubunitLayout {
	border-fill: sandybrown;
	border-stroke: black;
	fill: unset;
	stroke: unset;
	subunits-fill: unset;
	subunits-stroke: unset;
}


SimpleChemicalSubunitLayout {
	border-fill: sandybrown;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


SimpleChemicalUnitOfInformationLayout {
	border-fill: sandybrown;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


StateVariableLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


StimulationLayout {
	arrowhead-fill: unset;
	arrowhead-stroke: unset;
	fill: unset;
	path-fill: unset;
	path-stroke: unset;
	stroke: unset;
}


SubmapLayout {
	border-fill: tan;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


TagLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


TerminalLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


UncertainProcessLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	left-connector-fill: unset;
	left-connector-stroke: unset;
	right-connector-fill: unset;
	right-connector-stroke: unset;
	stroke: unset;
}


UnitOfInformationLayout {
	border-fill: white;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


UnknownInfluenceLayout {
	arrowhead-fill: white;
	arrowhead-stroke: black;
	fill: unset;
	path-fill: none;
	path-stroke: black;
	stroke: unset;
}


UnspecifiedEntityLayout {
	border-fill: lightgray;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


UnspecifiedEntitySubunitLayout {
	border-fill: lightgray;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}


UnspecifiedEntityUnitOfInformationLayout {
	border-fill: lightgray;
	border-stroke: black;
	fill: unset;
	stroke: unset;
}
