TextLayout {
    font_color: black;
}

MapLayout {
    stroke: none;
    stroke_width: 1.0;
    fill: white;
}

SubmapLayout {
    stroke: black;
    fill: pink;
}

CompartmentLayout {
    stroke: black;
    fill: ivory;
}

GenericProcessLayout {
    stroke: black;
    fill: white;
}

UncertainProcessLayout {
    stroke: black;
    fill: white;
}

OmittedProcessLayout {
    stroke: black;
    fill: white;
}

AssociationLayout {
    stroke: black;
    fill: black;
}

DissociationLayout {
    stroke: black;
    fill: white;
}

PhenotypeLayout {
    stroke: black;
    fill: mediumpurple;
}

AndOperatorLayout {
    stroke: black;
    fill: white;
}

OrOperatorLayout {
    stroke: black;
    fill: white;
}

NotOperatorLayout {
    stroke: black;
    fill: white;
}

EquivalenceOperatorLayout {
    stroke: black;
    fill: white;
}

UnspecifiedEntityLayout {
    stroke: black;
    fill: moccasin;
}

MacromoleculeLayout {
    stroke: black;
    fill: lightblue;
}

MacromoleculeMultimerLayout {
    stroke: black;
    fill: lightblue;
}

ComplexLayout {
    stroke: black;
    fill: yellow;
}

ComplexLayout > ComplexLayout {
    fill: gold;
}

ComplexMultimerLayout {
    stroke: black;
    fill: yellow;
}

ComplexLayout > ComplexMultimerLayout {
    fill: gold;
}

SimpleChemicalLayout {
    stroke: black;
    fill: orange;
}

SimpleChemicalMultimerLayout {
    stroke: black;
    fill: orange;
}

NucleicAcidFeatureLayout {
    stroke: black;
    fill: palegreen;
}

NucleicAcidFeatureMultimerLayout {
    stroke: black;
    fill: palegreen;
}

EmptySetLayout {
    stroke: black;
    fill: white;
}

PerturbingAgentLayout {
    stroke: black;
    fill: red;
}

TagLayout {
    stroke: black;
    fill: brown;
}

SubmapTerminalLayout {
    stroke: black;
    fill: brown;
}

StateVariableLayout {
    stroke: black;
    fill: pink;
}

MacromoleculeLayout > StateVariableLayout {
    fill: cadetblue;
}

NucleicAcidFeatureLayout > StateVariableLayout {
    fill: mediumspringgreen;
}

UnitOfInformationLayout {
    stroke: black;
    fill: pink;
}

MacromoleculeLayout > UnitOfInformationLayout {
    fill: lightskyblue;
}

NucleicAcidFeatureLayout > UnitOfInformationLayout {
    fill: mediumseagreen;
}

ConsumptionLayout {
    stroke: black;
    fill: none;
}

ProductionLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_fill: black;
}

ModulationLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_fill: white;
}

StimulationLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_fill: white;
}

CatalysisLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_fill: white;
}

NecessaryStimulationLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_fill: white;
}

InhibitionLayout {
    stroke: black;
    fill: none;
    arrowhead_stroke: black;
}
