TextLayout {
    font_family: "Helvetica";
    font_size: 11.0;
    font_color: black;
}

MapLayout {
    stroke: none;
    stroke_width: 2.0;
    fill: white;
}

CompartmentLayout {
    stroke: black;
    stroke_width: 7.0;
    fill: white;
    rounded_corners: 20.0;
}

GenericProcessLayout {
    width: 20;
    height: 20;
    stroke: black;
    stroke_width: 1.25;
    fill: white;
    left_connector_length: 3.0;
    right_connector_length: 3.0;
    left_connector_stroke_width: 1.25;
    right_connector_stroke_width: 1.25;
}

UncertainProcessLayout {
    width: 24;
    height: 24;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

OmittedProcessLayout {
    width: 24;
    height: 24;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

AssociationLayout {
    width: 24;
    height: 24;
    stroke: black;
    stroke_width: 2.0;
    fill: black;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

DissociationLayout {
    width: 24;
    height: 24;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    sep: 4.5;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

PhenotypeLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    angle: 60.0;
}

AndOperatorLayout {
    width: 42;
    height: 42;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

OrOperatorLayout {
    width: 42;
    height: 42;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

NotOperatorLayout {
    width: 42;
    height: 42;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

EquivalenceOperatorLayout {
    width: 42;
    height: 42;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

UnspecifiedEntityLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

MacromoleculeLayout {
    width: 60;
    height: 30;
    stroke: black;
    stroke_width: 1.25;
    fill: white;
    rounded_corners: 9.0;
}

MacromoleculeMultimerLayout {
    width: 113;
    height: 65;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    rounded_corners: 9.0;
    offset: 10.0;
}

ComplexLayout {
    width: 216;
    height: 120;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    cut_corners: 10.0;
}

ComplexLayout > TextLayout {
    font_size: 14.0;
}

ComplexMultimerLayout {
    width: 221;
    height: 125;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    cut_corners: 10.0;
    offset: 10.0;
}

SimpleChemicalLayout {
    width: 60;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

SimpleChemicalMultimerLayout {
    width: 65;
    height: 65;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    offset: 10.0;
}

NucleicAcidFeatureLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    rounded_corners: 9.0;
}

NucleicAcidFeatureMultimerLayout {
    width: 113;
    height: 65;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    rounded_corners: 9.0;
    offset: 10.0;
}

EmptySetLayout {
    width: 60;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

PerturbingAgentLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    angle: 60.0;
}

StateVariableLayout {
    width: 18;
    height: 18;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

UnitOfInformationLayout {
    width: 18;
    height: 18;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

CardinalityLayout {
    width: 23.5;
    height: 18.5;
    stroke: black;
    stroke_width: 1.5;
    fill: white;
}

SubmapLayout {
    width: 216;
    height: 120;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

TagLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    angle: 60.0;
}

TerminalLayout {
    width: 108;
    height: 60;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    angle: 60.0;
}

TagLayout > TextLayout {
    font_size: 12.0;
}

SubmapTerminalLayout > TextLayout {
    font_size: 12.0;
}

StateVariableLayout > TextLayout {
    font_size: 20.0;
}

UnitOfInformationLayout > TextLayout {
    font_size: 9.0;
}

CardinalityLayout > TextLayout {
    font_size: 12.0;
}

ConsumptionLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    shorten: 0.0;
}

ProductionLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: black;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

ModulationLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

StimulationLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

CatalysisLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 4.0;
    width: 13.0;
    height: 13.0;
}

NecessaryStimulationLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    bar_width: 1.5;
    bar_height: 24.0;
    sep: 7.0;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

InhibitionLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 6.0;
    width: 1.5;
    height: 15.0;
}

LogicArcLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: none;
    shorten: 0.0;
}

EquivalenceArcLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: none;
    shorten: 0.0;
}

MacromoleculeUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    rounded_corners: 3.0;
}

UnspecifiedEntityUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

NucleicAcidFeatureUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    rounded_corners: 3.0;
}

ComplexUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    cut_corners: 3.0;
}

SimpleChemicalUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}

PerturbationUnitOfInformationLayout {
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    angle: 60.0;
}

MacromoleculeUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

UnspecifiedEntityUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

NucleicAcidFeatureUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

ComplexUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

SimpleChemicalUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

PerturbationUnitOfInformationLayout > TextLayout {
    font_size: 10.0;
}

DelayOperatorLayout {
    width: 42;
    height: 42;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
    left_connector_length: 10.0;
    right_connector_length: 10.0;
    left_connector_stroke_width: 1.5;
    right_connector_stroke_width: 1.5;
}

UnknownInfluenceLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

PositiveInfluenceLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 1.0;
    width: 15.0;
    height: 15.0;
}

NegativeInfluenceLayout {
    stroke: black;
    stroke_width: 1.5;
    fill: none;
    arrowhead_stroke: black;
    arrowhead_stroke_width: 1.5;
    arrowhead_fill: white;
    shorten: 6.0;
    width: 1.5;
    height: 15.0;
}

BiologicalActivityLayout {
    width: 108.0;
    height: 60.0;
    stroke: black;
    stroke_width: 2.0;
    fill: white;
}
