AndOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


AssociationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


BiologicalActivityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


CardinalityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


CompartmentLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 5.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


ComplexLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


ComplexMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


ComplexMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


ComplexSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


ComplexUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	cut-corners: 5.0;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


DelayOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


DissociationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


EmptySetLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 30.0;
}


EquivalenceOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


GenericProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


MacromoleculeLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


MacromoleculeUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


NotOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


NucleicAcidFeatureLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


NucleicAcidFeatureUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	rounded-corners: 5.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


OmittedProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


OrOperatorLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


PerturbationUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


PerturbingAgentLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


PhenotypeLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


SBGNAFLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: unset;
	border-transform: unset;
	filter: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SBGNPDLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: unset;
	border-transform: unset;
	filter: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
}


SimpleChemicalLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


SimpleChemicalMultimerLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


SimpleChemicalMultimerSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	offset: 3.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	subunits-filter: unset;
	subunits-stroke-dasharray: unset;
	subunits-stroke-dashoffset: unset;
	subunits-stroke-width: unset;
	subunits-transform: unset;
	transform: unset;
	width: 60.0;
}


SimpleChemicalSubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


SimpleChemicalUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


StateVariableLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


SubmapLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


TagLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


TerminalLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UncertainProcessLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 20.0;
	left-connector-filter: unset;
	left-connector-length: 10.0;
	left-connector-stroke-dasharray: unset;
	left-connector-stroke-dashoffset: unset;
	left-connector-stroke-width: unset;
	right-connector-filter: unset;
	right-connector-length: 10.0;
	right-connector-stroke-dasharray: unset;
	right-connector-stroke-dashoffset: unset;
	right-connector-stroke-width: unset;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 20.0;
}


UnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UnspecifiedEntityLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UnspecifiedEntitySubunitLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}


UnspecifiedEntityUnitOfInformationLayout {
	border-filter: unset;
	border-stroke-dasharray: unset;
	border-stroke-dashoffset: unset;
	border-stroke-width: 1.0;
	border-transform: unset;
	filter: unset;
	height: 30.0;
	stroke-dasharray: unset;
	stroke-dashoffset: unset;
	stroke-width: unset;
	transform: unset;
	width: 60.0;
}
