SubmapLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

CompartmentLayout {
    filter: drop-shadow(3.0 3.0);
}

GenericProcessLayout {
    filter: drop-shadow(3.0 3.0);
}

UncertainProcessLayout {
    filter: drop-shadow(3.0 3.0);
}

OmittedProcessLayout {
    filter: drop-shadow(3.0 3.0);
}

AssociationLayout {
    filter: drop-shadow(3.0 3.0);
}

DissociationLayout {
    filter: drop-shadow(3.0 3.0);
}

PhenotypeLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

AndOperatorLayout {
    filter: drop-shadow(3.0 3.0);
}

OrOperatorLayout {
    filter: drop-shadow(3.0 3.0);
}

NotOperatorLayout {
    filter: drop-shadow(3.0 3.0);
}

EquivalenceOperatorLayout {
    filter: drop-shadow(3.0 3.0);
}

UnspecifiedEntityLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

MacromoleculeLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

MacromoleculeMultimerLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
    subunits_filter: none, drop-shadow(1.0 1.0);
}

ComplexLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

ComplexMultimerLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
    subunits_filter: none, drop-shadow(1.0 1.0);
}

SimpleChemicalLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

SimpleChemicalMultimerLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
    subunits_filter: none, drop-shadow(1.0 1.0);
}

NucleicAcidFeatureLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

NucleicAcidFeatureMultimerLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
    subunits_filter: none, drop-shadow(1.0 1.0);
}

EmptySetLayout {
    filter: drop-shadow(3.0 3.0);
}

PerturbingAgentLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

StateVariableLayout {
    stroke: none;
}

UnitOfInformationLayout {
    stroke: none;
}

TagLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}

SubmapTerminalLayout {
    stroke: none;
}

MacromoleculeUnitOfInformationLayout {
    stroke: none;
}

UnspecifiedEntityUnitOfInformationLayout {
    stroke: none;
}

NucleicAcidFeatureUnitOfInformationLayout {
    stroke: none;
}

ComplexUnitOfInformationLayout {
    stroke: none;
}

SimpleChemicalUnitOfInformationLayout {
    stroke: none;
}

PerturbationUnitOfInformationLayout {
    stroke: none;
}

DelayOperatorLayout {
    filter: drop-shadow(3.0 3.0);
}

BiologicalActivityLayout {
    stroke: none;
    filter: drop-shadow(3.0 3.0);
}
